/target/
.checkstyle
.classpath
.project
.settings/
.idea/
progedu.iml
/bin/
src/main/resources/config/course_config.properties
src/main/resources/config/db_config.properties
src/main/resources/config/gitlab_config.properties
src/main/resources/config/jenkins_config.properties